includes:
    - phpstan-baseline.neon

parameters:
    level: 1
    bootstrapFiles:
        - tools/phpstan_bootstrap.php
    paths:
        - core
        - project
        - htdocs
        - tools
    excludePaths:
        analyse:
            - vendor
            - unit
    treatPhpDocTypesAsCertain: false
